<template name="formBuilderRender">
  <h1>{{name}}</h1>
  {{#if Template.subscriptionsReady}}
    {{#if schema}}
      {{#basicFormBuilderBlock schema=schema action=action}}
        {{#each field in fields}}
          {{#if (equal field.type "select")}} {{> basicFormBuilderSelect field}} {{else}}
          {{#if (equal field.type "checkbox")}} {{> basicFormBuilderInput field}} {{else}}
          {{#if (equal field.type "radio")}} {{> basicFormBuilderRadio field}} {{else}}
          {{#if (equal field.type "checkbox-group")}} {{> basicFormBuilderInputGroup field}} {{else}}
          {{#if (equal field.type "radio-group")}} {{> basicFormBuilderInputGroup field}} {{else}}
          {{#if (equal field.type "textarea")}} {{> basicFormBuilderTextarea field}} {{else}}
          {{#if (equal field.type "date")}} {{> basicFormBuildDate field}} {{else}}
          {{> basicFormBuilderInput field}}{{/if}}
          {{/if}} {{/if}} {{/if}} {{/if}} {{/if}} {{/if}}
        {{/each}}
        <button type="submit" disabled="{{#if form.invalidCount}}disabled{{/if}}">Submit</button>
      {{/basicFormBuilderBlock}}
    {{/if}}
  {{/if}}
</template>

<template name="basicFormBuilderBlock">
  <form> {{> UI.contentBlock data=data context=context }} </form>
</template>

<template name="basicFormBuilderTextarea">
  <div class="form-group {{#unless valid}}has-error{{/unless}}">
    <label for="{{name}}">{{label}}</label>
    <textarea class="form-control reactive-element" rows="{{rows}}" id="{{name}}"
      aria-describedby="{{name}}-area" placeholder="{{placeholder}}"
      value={{value}}></textarea>
    <small id="{{name}}-area" class="form-text text-muted">{{instructions}}</small>
    <p class="help-block">{{#unless valid}}{{errorMessage}}{{/unless}}</p>
  </div>
</template>

<template name="basicFormBuilderInputGroup">
  <div class="form-group {{#unless valid}}has-error{{/unless}}">
    <label for="{{name}}-preview">{{label}}</label>
    <div>
      {{#each opt in values}}
        <input type="{{realType type}}" class="form-control reactive-element"
          name="{{name}}-preview[]" id="{{name}}-preview-{{@index}}"
          value={{opt.value}} {{ checked(opt.value) }}>
        <label for="{{name}}-preview-{{@index}}">{{opt.label}}</label>
      {{/each}}
    </div>
    <small id="{{name}}-area" class="form-text text-muted">{{instructions}}</small>
    <p class="help-block">{{#unless valid}}{{errorMessage}}{{/unless}}</p>
  </div>
</template>

<template name="basicFormBuilderInput">
  <div class="form-group {{#unless valid}}has-error{{/unless}}">
    <label for="{{name}}-preview">{{label}}</label>
    <input type="{{type}}" class="form-control reactive-element" id="{{name}}-preview"
      aria-describedby="{{name}}-area" placeholder="{{placeholder}}"
      value={{value}} {{ checked(value) }}>
    <small id="{{name}}-area" class="form-text text-muted">{{instructions}}</small>
    <p class="help-block">{{#unless valid}}{{errorMessage}}{{/unless}}</p>
  </div>
</template>

<template name="basicFormBuilderSelect">
  <div class="form-group {{#unless valid}}has-error{{/unless}}">
    <label for="{{name}}">{{label}}</label>
    <select {{multiple}} class="form-control" id="{{name}}">
      {{#each opt in values}}
        <option value="{{opt.value}}" {{selected(opt.selected)}}>{{opt.label}}</option>
      {{/each}}
    </select>
    <small id="{{name}}-area" class="form-text text-muted">{{instructions}}</small>
    <p class="help-block">{{#unless valid}}{{errorMessage}}{{/unless}}</p>
  </div>
</template>
