<template name="formBuilderDisplay">
  {{#if Template.subscriptionsReady}}
    {{#if schema}}
    <ul class="list-unstyled">
      {{#each field in fields}}
        <li>
          <span>{{> Template.dynamic template=(fieldTemplate field.type) data=field}}</span>
        </li>
      {{/each}}
    </ul>
    {{/if}}
  {{/if}}
</template>

<template name="basicFormDisplayTextarea">
  <strong>{{label}}</strong>:
  <p>{{#if value}}{{value}}{{else}}N/A{{/if}}</p>
</template>

<template name="basicFormDisplayInputGroupCheckBox">
  <strong>{{label}}</strong> :
  {{#if $gt ($len value) 0 }}
    {{#each opt in values}}
      {{#if $in opt.value value}}
        {{opt.label}}
      {{/if}}
    {{/each}}
  {{else}}N/A{{/if}}
</template>

<template name="basicFormDisplayInputGroupRadio">
  <strong>{{label}}</strong> :
  {{#if value }}
    {{#each opt in values}}
      {{#if (checked opt value) }}
        {{opt.label}}
      {{/if}}
    {{/each}}
  {{else}}N/A{{/if}}
</template>
<template name="basicFormDisplayInput">
  <strong>{{label}}</strong> :
    {{#if value}}{{value}}{{else}}N/A{{/if}}
</template>

<template name="basicFormDisplayDate">
  <strong>{{label}}</strong> :
   {{#if value}}{{formatDate value}}{{else}}N/A{{/if}}
</template>

<template name="basicFormDisplaySelect">
  <strong>{{label}}</strong> :
    {{#each opt in values}}
      {{#if opt.selected }}
        {{opt.label}}
      {{/if}}
    {{/each}}
</template>
